.block {
  width: 300px;
  margin-bottom: 30px;
}

.input {
  width: 300px;
  padding: 5px;
  border: 1px solid #000;
}

#string1::highlight(missing-words-1) {
  background-color: #ffcccc;
  color: #ff0000;
  text-decoration: underline;
}

#string2::highlight(missing-words-2) {
  background-color: #ccffcc;
  color: #009900;
  text-decoration: underline;
}
